.circleImg {
    display: block;
    height: 20px;
    width: 20px;
    line-height: 20px;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: red;
    color: white;
    text-align: center;
    font-size: 1em;
    margin-left: 105px;
    margin-top: -46px;
    position: absolute;
    z-index:1;
}

thead {
    background-color:#E41938;
    color:white;
}
.tablenote thead {
    background-color:#F8D650;
    color:black;
}
.tablenote td {
    background-color:#FFF486;
    color:black;
}
input {
    border:1px solid gray;
}

th {margin: 0; white-space:nowrap;}
    
      .circle {
    display: block;
    height: 20px;
    width: 20px;
    line-height: 20px;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: red;
    color: white;
    text-align: center;
    font-size: 1em;
    margin-left: 30px;
    margin-top: -40px;
    position: absolute;
    z-index:1;
}

    .circleb{
    display: block;
    height: 20px;
    width: 20px;
    line-height: 20px;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: black;
    color: white;
    text-align: center;
    font-size: 1em;
    margin-left: 30px;
    margin-top: -40px;
    position: absolute;
    z-index:1;
}

.ajs-message.ajs-custom { color: white;  background-color: #64C06F;  border-color: #DDDFDD; }

/*Loader Begin*/
.loader {

  border: 16px solid black;
  border-radius: 50%;
  border-top: 16px solid #E41938;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*Loader Ends*/